.container {
  padding: 24px;
  height: 93vh;
  background: transparent !important;
}

.title {
  color: #00f0ff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 240, 255, 0.5);
  margin-bottom: 24px;
  text-align: center;
}

.cardContainer {
  margin: 0 -12px;
}

.documentCard {
  :global {
    .ant-card-body {
      padding: 0 12px !important;
    }

    .ant-card-meta-title {
      line-height: 1.2 !important;
      font-size: 16px !important;
      padding: 12px 0 !important;
      margin: 0 !important;
    }

    .ant-card-actions {
      padding: 8px 0 !important;
    }
  }
}

.cardCover {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  margin: 0 auto;
}

.fileIcon {
  font-size: 80px;
  color: #1890ff;
}

.cardMeta {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}