.header {
  height: 8vh !important;
  width: 100vw;
  // background-color: red !important;
}
.sider {
  flex: 0 0 10vw !important;
  // max-width: 10vw !important;
  height: calc(100vh - 8vh) !important;
  // background-color: yellow !important;
}
.content {
  background-color: #fff;
  padding: 1vh 1vw;
  height: calc(100vh - 8vh) !important;
  overflow: scroll;
}
