.card-wraper {
  margin-bottom: 1vh;
  flex: 1;
  min-width: 300px;
  max-width: 400px;
}
.card {
  width: 100%;
  background: rgba(4, 24, 50, 0.3) !important;
  border: 1px solid rgba(0, 240, 255, 0.3);
  background-size: cover !important;
  background-position: center !important;
  backdrop-filter: blur(5px);
  p {
    margin: 0.5vh 0;
    color: rgba(255, 255, 255, 0.8);
  }
  .button-area {
    float: right;
    button {
      margin-right: 0.5vw !important;
    }
  }
}
.form-item {
  margin-bottom: 1vh !important;
  button {
    margin-right: 0.5vw !important;
  }
}

.add {
  font-size: 2vh;
  font-weight: 600;
  color: #194cf0;
  line-height: 20vh;
  &:hover {
    color: rgb(104, 139, 244);
    cursor: pointer;
  }
}

.data-card {
  img {
    border: 1px solid rgba(0, 240, 255, 0.3);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
